<html layout:decorator="layout">

<div layout:fragment="content">

    <a class="btn btn-primary" href="/posts/create">Add new post</a>

    <table class="table table-striped" id="posts_list">
        <thead>
        <tr>
            <th>Comments</th>
            <th>Action</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="post : ${posts}">
            <td class="stkSymbl" data-th-text="${post.stkSymbl}"></td>

            <td>
                <a th:href="@{'/posts/{id}/delete'(id=${post.id})}" class="delete" th:attr="name=${post.stkSymbl}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
            </td>

            <td>
                <a th:href="@{'/posts/{id}/edit'(id=${post.id})}" class="edit" th:attr="name=${post.stkSymbl}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>