<div>
    <h2>
        <span>User Picks</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-pick" [routerLink]="['/', { outlets: { popup: ['user-pick-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new User Pick
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userPicks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Symbl</span></th>
            <th><span>Own</span></th>
            <th><span>Entry Price</span></th>
            <th><span>Up</span></th>
            <th><span>Target</span></th>
            <th><span>Time</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userPick of userPicks ;trackBy: trackId">
                <td><a [routerLink]="['../user-pick', userPick.id ]">{{userPick.id}}</a></td>
                <td>{{userPick.symbl}}</td>
                <td>{{userPick.own}}</td>
                <td>{{userPick.entryPrice}}</td>
                <td>{{userPick.up}}</td>
                <td>{{userPick.target}}</td>
                <td>{{userPick.time}}</td>
                <td>
                    {{userPick.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-pick', userPick.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-pick/'+ userPick.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-pick/'+ userPick.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
