<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserPickLabel">Create or edit a User Pick</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userPick.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userPick.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_symbl">Symbl</label>
            <input type="text" class="form-control" name="symbl" id="field_symbl"
                [(ngModel)]="userPick.symbl" required />
            <div [hidden]="!(editForm.controls.symbl?.dirty && editForm.controls.symbl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.symbl?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_own">Own</label>
            <input type="checkbox" class="form-control" name="own" id="field_own"
                [(ngModel)]="userPick.own"  />
            <div [hidden]="!(editForm.controls.own?.dirty && editForm.controls.own?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.own?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_entryPrice">Entry Price</label>
            <input type="number" class="form-control" name="entryPrice" id="field_entryPrice"
                [(ngModel)]="userPick.entryPrice" required min="0.01" />
            <div [hidden]="!(editForm.controls.entryPrice?.dirty && editForm.controls.entryPrice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.entryPrice?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.entryPrice?.errors?.min">
                    This field should be at least 0.01.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.entryPrice?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_up">Up</label>
            <input type="checkbox" class="form-control" name="up" id="field_up"
                [(ngModel)]="userPick.up"  />
            <div [hidden]="!(editForm.controls.up?.dirty && editForm.controls.up?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.up?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_target">Target</label>
            <input type="number" class="form-control" name="target" id="field_target"
                [(ngModel)]="userPick.target" required />
            <div [hidden]="!(editForm.controls.target?.dirty && editForm.controls.target?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.target?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.target?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_time">Time</label>
            <input type="text" class="form-control" name="time" id="field_time"
                [(ngModel)]="userPick.time" required />
            <div [hidden]="!(editForm.controls.time?.dirty && editForm.controls.time?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.time?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userPick.user"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id === userPick.user?.id ? userPick.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
