<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Stocks</title>
  <script src="/node_modules/angular/angular.js"></script>
  <script src="/src/main/webapplication/views/app.js"></script>
</head>
<body>
    <div ng-controller="StockController">
                <table>
                    <tr>
                        <td width="100">ID:</td>
                        <td><input type="text" id="id" ng-model="stock.id" /></td>
                    </tr>
                    <tr>
                        <td width="100">Symbol:</td>
                        <td><input type="text" id="symbl" ng-model="stock.symbl" /></td>
                    </tr>
                    <tr>
                        <td width="100">Own:</td>
                        <td><input type="text" id="own" ng-model="stock.own" /></td>
                    </tr>
                    <tr>
                        <td width="100">Entry Price:</td>
                        <td><input type="text" id="entryPrice" ng-model="stock.entryPrice" /></td>
                    </tr>
                    <tr>
                        <td width="100">Will The Stock Go Up?:</td>
                        <td><input type="text" id="up" ng-model="stock.up" /></td>
                    </tr>
                    <tr>
                        <td width="100">Target Price:</td>
                        <td><input type="text" id="target" ng-model="stock.target" /></td>
                    </tr>
                    <tr>
                        <td width="100">Investing Timeline:</td>
                        <td><input type="text" id="time" ng-model="stock.time" /></td>
                    </tr>
                </table>

                <br /> <br />
                <a ng-click="getStockById(stock.id)">Get Stock</a>
                <a ng-click="updateStock(stock.id,stock.symbl,stock.own,stock.entryPrice,stock.up,stock.target,stock.time)">Update Stock</a>
                <a ng-click="insertStock(stock.own,stock.entryPrice,stock.up,stock.target,stock.time)">Add Stock Pick</a>
                <a ng-click="deleteStockById(stock.id)">Delete Stock Pick</a>

            <br /> <br />
            <p style="color: green">{{message}}</p>
            <p style="color: red">{{errorMessage}}</p>

            <br />
            <br />
            <a ng-click="getAllStocks()">Get all Stocks</a><br />
            <br /> <br />
            <div ng-repeat="foo in stocks">
                {{foo.symbl}} {{foo.own}} {{foo.entryPrice}} {{foo.up}} {{foo.target}} {{foo.time}}
            </div>
        </div>
</body>
</html>